@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-display: swap; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 50px; } }

.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: block;
  margin: 0;
  padding: 14px;
  border: 2px solid #444444;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  cursor: pointer; }
  .button:hover, .button:focus {
    background-color: #444444;
    color: #ffffff;
    outline: none; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.modal__overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3; }

.modal {
  display: none;
  background-color: white;
  min-width: 320px;
  border: 1px solid #ededed;
  padding: 10px 30px 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 4;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto; }

.modal--show {
  display: block; }

.modal__overlay--show {
  display: block; }

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 12px; }

.modal__fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.modal__legend {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: 0 auto; }

.modal__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 24px; }

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  margin-left: 7px;
  margin-bottom: 7px;
  padding: 15px;
  border: 2px solid #ededed;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  min-width: 81px;
  flex-grow: 1; }
  .modal__label:hover, .modal__label:focus {
    border-color: #c7c7c7;
    outline: none; }

.modal__label--first {
  margin-left: 0; }

.modal__input:checked + .modal__label {
  border-color: #63d1bb; }

.modal__button {
  width: 100%;
  background-color: #63d1bb;
  color: #ffffff;
  border-color: #63d1bb;
  margin: 25px 0; }
  .modal__button:hover {
    background-color: #56c3b2;
    color: rgba(255, 255, 255, 0.5);
    border-color: #56c3b2; }
  .modal__button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .modal__overlay {
    padding: 0 100px; }
  .modal {
    width: 566px;
    padding: 12px 105px 22px; }
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
  .modal__legend {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .modal__overlay {
    padding: 0 290px; } }

.page-header {
  width: auto;
  margin: 0; }

.page-header__menu {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1150px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }

.page-header__intro {
  padding: 30px 0;
  min-height: 281px; }
  .page-header__intro--main {
    background-color: #f9f9f9;
    background-image: url("../img/bg-hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center 20%; }
    @media (min-resolution: 1.5dppx) {
      .page-header__intro--main {
        background-image: url("../img/bg-hero-mobile@2x.jpg"); } }
  .page-header__intro--inner {
    background-color: #f1f1f1;
    min-height: 175px; }

.page-header__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  display: none; }

.page-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px;
  text-align: center;
  margin-top: 38px; }
  @media (min-width: 768px) {
    .page-header__title {
      padding: 0 50px; } }

@media (min-width: 768px) {
  .page-header__menu {
    padding: 0 50px; }
  .page-header__text {
    max-width: 1150px;
    display: block;
    text-align: right;
    margin: -13px auto;
    padding-right: 50px; }
  .page-header__intro {
    border-top: 1px solid #ededed;
    margin-top: -73px;
    padding: 30px 0;
    min-height: 745px;
    background-image: url("../img/bg-hero-tablet@1x.jpg");
    background-size: 1150px auto; } }
  @media (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__intro {
      background-image: url("../img/bg-hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .page-header__intro--inner {
    min-height: 240px;
    position: relative;
    background-image: none; }
    .page-header__intro--inner::after {
      content: "";
      width: 100%;
      height: 23px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain; }
  .page-header__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    max-width: 1150px;
    margin-top: 124px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .page-header__title {
      padding: 0 50px; } }

@media (min-width: 768px) {
  .page-header__title--inner {
    margin-top: 65px; } }

@media (min-width: 1150px) {
  .page-header__intro {
    background-image: url("../img/bg-hero-desktop@1x.jpg");
    margin-top: -73px; } }
  @media (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .page-header__intro {
      background-image: url("../img/bg-hero-desktop@2x.jpg"); } }

@media (min-width: 1150px) {
  .page-header__intro--inner {
    min-height: 270px;
    background-image: none;
    margin-top: -70px; }
    .page-header__intro--inner::after {
      height: 34px; }
  .page-header__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000000; } }

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.menu__logo {
  width: 86px;
  height: 35px; }

.menu__logo[href]:focus {
  opacity: 0.6; }

.menu__logo[href]:active {
  opacity: 0.3; }

.menu__toggle {
  position: absolute;
  top: 28px;
  right: 31px;
  margin: 0;
  border: none;
  background-color: white;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.menu__toggle-icon {
  width: 20px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 0; }
  .menu__toggle-icon::before {
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    transform: translateY(5px); }
  .menu__toggle-icon::after {
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    transform: translateY(-7px); }

.menu__item {
  border-bottom: 1px solid #ededed; }

.menu__item--logo {
  text-align: center;
  padding-bottom: 19px;
  padding-top: 21px; }

.menu__item--arrivals,
.menu__item--sale {
  display: none; }

.menu__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  position: relative;
  display: block;
  padding: 30px 0 30px 75px; }

.menu__link[href]:focus {
  opacity: 0.6; }

.menu__link[href]:active {
  opacity: 0.3; }

.menu__link[href]:focus .menu__icon {
  fill: #63d1bb; }

.menu__icon {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 20px;
  height: 20px;
  fill: #cccccc; }

@media (max-width: 767px) {
  .menu .menu__item {
    display: none; }
    .menu .menu__item:first-child {
      display: block; }
  .menu--nojs .menu__toggle {
    display: none; }
  .menu--nojs .menu__item,
  .menu--opened .menu__item {
    display: block; }
  .menu--nojs .menu__item--sale,
  .menu--nojs .menu__item--arrivals,
  .menu--opened .menu__item--sale,
  .menu--opened .menu__item--arrivals {
    display: none; }
  .menu--opened .menu__toggle-icon {
    background-color: transparent; }
    .menu--opened .menu__toggle-icon::before {
      transform: rotate(45deg); }
    .menu--opened .menu__toggle-icon::after {
      transform: rotate(-45deg); } }

@media (min-width: 768px) {
  .menu__list {
    min-width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .menu__logo {
    display: block;
    width: 113px;
    height: 46px;
    margin-left: -2px; }
  .menu__toggle,
  .menu__link--hidden {
    display: none; }
  .menu__link--search {
    padding-bottom: 54px; }
  .menu__item {
    border: none; }
  .menu__item--knitting,
  .menu__item--catalog,
  .menu__item--search,
  .menu__item--cart {
    display: block; }
  .menu__item--logo {
    min-width: 48%;
    text-align: left;
    padding-bottom: 19px;
    padding-top: 22px;
    flex-grow: 1; }
  .menu__item--catalog {
    min-width: 167px;
    order: 2;
    z-index: 1; }
  .menu__item--cart {
    min-width: 30%;
    border-left: 1px solid #ededed; }
  .menu__item--knitting {
    min-width: 167px;
    order: 3;
    z-index: 1; }
  .menu__item--search {
    width: 81px;
    border-left: 1px solid #ededed; }
  .menu__link {
    padding-left: 0; }
  .menu__link--catalog,
  .menu__link--knitting {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    padding-top: 20px; }
  .menu__link--cart {
    padding-left: 83px; }
  .menu__icon--search {
    top: 36px;
    left: 32px;
    width: 18px;
    height: 18px; } }

@media (min-width: 1150px) {
  .menu__list {
    min-width: 1050px; }
  .menu__logo {
    width: 148px;
    height: 73px;
    margin-left: 65px; }
  .menu__logo[href]:hover {
    opacity: 0.6; }
  .menu__logo img {
    width: 153px;
    height: 72px; }
  .menu__item--logo {
    min-width: 317px;
    order: -1;
    text-align: center;
    padding-bottom: 9px;
    padding-top: 8px; }
  .menu__item--cart {
    min-width: 20%; }
  .menu__item--catalog {
    border-right: 1px solid #ededed;
    min-width: 185px;
    order: -3; }
  .menu__item--knitting {
    min-width: 200px;
    order: -2; }
  .menu__item--search {
    border-left: 1px solid #ededed; }
  .menu__icon--search {
    left: 28px; }
  .menu__item--arrivals,
  .menu__item--sale {
    min-width: 185px;
    display: block;
    z-index: 1; }
  .menu__link--catalog,
  .menu__link--knitting {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    padding-top: 30px; }
  .menu__link--knitting {
    padding-left: 35px; }
  .menu__link--arrivals,
  .menu__link--sale {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    padding-top: 17px; }
  .menu__link--sale {
    padding-left: 35px; }
  .menu__link[href]:hover {
    opacity: 0.6; }
  .menu__link[href]:hover .menu__icon {
    fill: #63d1bb; } }

.categories {
  padding: 0;
  position: relative; }

.categories__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.categories__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  padding: 24px 28px 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .categories__link--left {
    background-color: #63d1bb; }
  .categories__link--right {
    background-color: #56c3b2; }

.categories__icon {
  fill: #149080;
  opacity: 0.5; }

.categories__text {
  width: 48%; }
  .categories__text--left {
    background-color: #63d1bb; }
  .categories__text--right {
    background-color: #56c3b2; }

.categories__link:active .categories__icon {
  fill-opacity: 0.3; }

.categories__link:active .categories__text {
  opacity: 0.3; }

@media (min-width: 768px) {
  .categories::after {
    content: "";
    width: 100%;
    height: 37px;
    position: absolute;
    bottom: -26px;
    left: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat;
    background-size: 768px;
    background-position-x: center; }
  .categories__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -118px;
    padding: 0 50px; }
  .categories__link {
    padding: 28px 32px 28px 35px;
    font-size: 20px;
    line-height: 30px; }
  .categories__item {
    min-width: 50%; } }

@media (min-width: 1150px) {
  .categories::after {
    background-size: 1250px;
    bottom: -20px; }
  .categories__text {
    width: 30%; }
  .categories__link:hover,
  .categories__link:focus {
    transform: translateY(-5px); }
  .categories__link--left:hover,
  .categories__link--left:focus {
    box-shadow: 0 5px 0 #63d1bb; }
  .categories__link--right:hover,
  .categories__link--right:focus {
    box-shadow: 0 5px 0 #56c3b2; }
  .categories__link:hover .categories__icon,
  .categories__link:focus .categories__icon {
    opacity: 0.7; } }

.special-offer__container {
  padding-bottom: 30px; }

.special-offer__header {
  margin-top: 27px;
  margin-bottom: 21px; }

.special-offer__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 3px; }

.special-offer__name {
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }

.special-offer__info {
  padding-bottom: 28px; }

.special-offer__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0 0 17px;
  width: 100%;
  min-width: 260px;
  max-width: 768px; }

.special-offer__properties {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-collapse: collapse;
  width: 100%; }

.special-offer__photo {
  display: block;
  margin-bottom: 24px; }

.special-offer__price {
  width: 100%;
  min-width: 260px;
  display: block;
  margin-bottom: 26px;
  text-align: center; }

.special-offer__button {
  width: 100%;
  min-width: 260px; }

.special-offer__row {
  height: 40px;
  border-bottom: 1px solid #ededed; }

.special-offer__key {
  min-width: 82px;
  height: 40px; }

.special-offer__value {
  height: 40px; }

@media (min-width: 768px) {
  .special-offer__container {
    margin-top: 45px;
    padding-bottom: 53px;
    position: relative; }
  .special-offer__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 21px; }
  .special-offer__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    margin-left: -3px; }
  .special-offer__name {
    width: 100px;
    text-align: center;
    line-height: 18px;
    margin-right: 13px; }
  .special-offer__info {
    margin-top: 46px;
    padding-right: 56.5%; }
  .special-offer__description {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin: 0 0 36px; }
  .special-offer__key {
    min-width: 70px; }
  .special-offer__footer {
    margin-top: 28px;
    padding-right: 56.5%; }
  .special-offer__price {
    font-size: 20px;
    margin-bottom: 34px; }
  .special-offer__photo {
    position: absolute;
    top: 108px;
    right: 50px;
    width: 334px;
    height: 404px;
    order: 5;
    align-self: end; } }

@media (min-width: 1150px) {
  .special-offer__container {
    margin-top: 40px;
    padding-bottom: 72px; }
  .special-offer__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 84px 0 0 0; }
  .special-offer__name {
    margin-left: 35px;
    margin-right: 35px; }
  .special-offer__info {
    margin-left: 175px; }
  .special-offer__key {
    min-width: 70px; }
  .special-offer__description {
    margin-bottom: 49px; }
  .special-offer__footer {
    margin-left: 175px;
    margin-top: 80px;
    padding-right: 55.5%; }
  .special-offer__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000000;
    margin-left: 0; }
  .special-offer__photo {
    width: 525px;
    height: 636px;
    top: 32px;
    z-index: -1; } }

.features__container {
  padding-top: 10px;
  position: relative; }

.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 30px 0; }

.features__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.features__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  padding-top: 55px;
  padding-bottom: 28px;
  padding-left: 5px;
  margin-left: -5px;
  background-repeat: no-repeat; }
  .features__item--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 33px;
    background-position: 12px 0; }
  .features__item--money {
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px;
    background-position: 5px 2px; }
  .features__item--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 34px;
    background-position: 12px 6px; }
  .features__item--ball {
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 36px;
    background-position: 8px 3px; }
  .features__item--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 57px;
    background-position: -2px 3px; }
  .features__item--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 34px;
    background-position: 8px 2px; }

.features__container::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 5px;
  left: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 330px;
  background-position-x: center; }

@media (min-width: 768px) {
  .features__container {
    padding-top: 28px; }
  .features__container::before {
    height: 15px;
    top: 1px;
    left: 0;
    background-size: 768px;
    transform: rotate(180deg); }
  .features__list {
    display: flex;
    flex-wrap: wrap; }
  .features__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    margin: 37px 0 47px -4px; }
  .features__item {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #000000;
    width: 338px;
    padding-bottom: 56px;
    padding-right: 20px; }
    .features__item--gift {
      order: 2; }
    .features__item--heart {
      order: 1; }
    .features__item--flower {
      order: -2; }
    .features__item--ball {
      order: -1; }
    .features__item--rocket {
      background-position: 0 3px; } }

@media (min-width: 1150px) {
  .features__container::before {
    height: 25px;
    background-size: 1050px;
    background-repeat: no-repeat; }
  .features__container {
    padding: 47px 225px 30px; }
  .features__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 48px; }
  .features__item {
    width: 355px; } }

.feedback__container {
  margin-bottom: 42px; }

.feedback__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 26px 0 25px; }

.feedback__photo {
  display: none; }

.feedback__item {
  margin: 0;
  padding: 0; }

.feedback__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 25px; }

.feedback__author {
  font-style: normal; }

.feedback__author-name {
  display: block;
  color: #000000;
  margin-bottom: 6px; }

.feedback__controls {
  margin: 34px 0 38px;
  display: flex; }

.feedback__controls-btn {
  position: relative;
  margin: 0;
  border: 1px solid #ededed;
  background-color: white;
  width: 135px;
  height: 52px;
  cursor: pointer;
  display: block;
  padding: 0; }
  .feedback__controls-btn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-top: 5px solid #000000;
    position: absolute;
    top: 14px; }
  .feedback__controls-btn::before {
    content: "";
    width: 48px;
    height: 5px;
    background-color: #000000;
    position: absolute;
    top: 22px;
    left: 39px; }

.feedback__controls-btn:focus::before {
  background-color: #666666; }

.feedback__controls-btn:focus::after {
  border-color: #666666; }

.feedback__controls-btn:active::before {
  background-color: #b2b2b2; }

.feedback__controls-btn:active::after {
  border-color: #b2b2b2; }

.feedback__controls-btn--next {
  margin-left: -5px; }

.feedback__controls-btn--prev::after {
  border-left: 5px solid #000000;
  transform: rotate(-45deg);
  left: 40px; }

.feedback__controls-btn--next::after {
  border-right: 5px solid #000000;
  transform: rotate(45deg);
  right: 43px; }

@media (min-width: 768px) {
  .feedback__container {
    margin-top: 28px;
    margin-bottom: 68px;
    padding-top: 79px;
    padding-bottom: 28px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/bg-review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; } }
  @media (min-width: 768px) and (min-resolution: 1.5dppx) {
    .feedback__container {
      background-image: url("../img/bg-review@2x.jpg"); } }

@media (min-width: 768px) {
  .feedback__photo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .feedback__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 27px -5px;
    order: -2; }
  .feedback__text {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 58px;
    flex-basis: 100%; }
  .feedback__item {
    margin: 19px 0; }
  .feedback__author-name {
    display: block;
    font-size: 18px; }
  .feedback__button {
    width: 175px;
    order: -1;
    margin-left: auto;
    margin-bottom: auto; }
  .feedback__controls {
    position: absolute;
    bottom: 45px;
    right: 50px;
    margin: 0; }
  .feedback__controls-btn {
    border: none;
    width: 97px; }
  .feedback__controls-btn--next::before {
    left: 28px; }
  .feedback__controls-btn--next::after {
    right: 22px; } }

@media (min-width: 1150px) {
  .feedback__container {
    margin-top: 4px;
    margin-bottom: 43px;
    padding-top: 70px;
    padding-left: 220px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-position: 50px 0;
    background-size: 30.5%; }
  .feedback__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 32px;
    margin-left: 0; }
  .feedback__item {
    margin: 15px 0; }
  .feedback__photo {
    left: 50px; }
  .feedback__wrapper {
    margin-left: 5px;
    margin-right: 75px; }
  .feedback__text {
    margin-bottom: 37px; }
  .feedback__controls {
    bottom: 112px; }
  .feedback__button {
    margin-top: 9px;
    margin-bottom: 30px; }
  .feedback__author-name {
    display: block;
    font-size: 17px; }
  .feedback__controls-btn:hover::before {
    background-color: #666666; }
  .feedback__controls-btn:hover::after {
    border-color: #666666; } }

.contacts {
  width: auto;
  margin: 0 0 38px 0;
  position: relative;
  padding-top: 20px; }

.contacts__inner {
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px; }
  @media (min-width: 768px) {
    .contacts__inner {
      padding: 0 50px; } }
  .contacts__inner::before {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 330px;
    background-position-x: center; }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 25px 0; }

.contacts__info {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 38px; }

.contacts__info p {
  margin: 0 0 30px 0; }

.contacts__item-title {
  display: inline-block;
  width: 28%;
  vertical-align: top; }

.contacts__address {
  display: inline-block;
  width: 70%; }

.contacts__email {
  color: #444444;
  position: relative; }
  .contacts__email::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #63d1bb; }

.contacts__map {
  position: relative;
  height: 460px;
  width: 100%;
  z-index: 3; }

.contacts__image {
  position: absolute;
  bottom: 89px;
  right: 50%;
  margin-right: -160px;
  z-index: 1; }
  .contacts__image::before {
    content: " ";
    width: 67px;
    height: 100px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: salmon;
    background-image: url("../../img/icon-map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2; }

.contacts__button {
  margin: 35px 30px; }

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 57px; }
  .contacts__inner::before {
    height: 16px;
    top: 5px;
    left: 0;
    background-size: 768px;
    transform: rotate(180deg); }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 60px 0 49px -4px;
    position: relative; }
    .contacts__title::before {
      content: "";
      position: absolute;
      top: -14px;
      right: 45px;
      height: 80px;
      width: 5px;
      background-color: black; }
    .contacts__title::after {
      content: "";
      position: absolute;
      top: -10px;
      right: 2px;
      height: 40px;
      width: 40px;
      border-style: solid;
      border-width: 20px 0 20px 40px;
      border-color: transparent transparent transparent #63d1bb; }
  .contacts__info {
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 27px; }
  .contacts__info p {
    width: 50%; }
  .contacts__item-title {
    width: 21%; }
  .contacts__button {
    width: 30%;
    margin: 52px auto; }
  .contacts__image {
    width: 768px;
    bottom: 104px;
    margin-right: -384px; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1150px;
    margin: 0 auto 105px; }
  .contacts__inner {
    width: 30%;
    padding: 86px 0 0 0;
    margin-right: auto;
    margin-left: 225px; }
    .contacts__inner::before {
      height: 25px;
      top: 5px;
      left: 0;
      background-size: 1050px;
      background-repeat: no-repeat; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin: 67px 0 48px -4px; }
    .contacts__title::before {
      top: -8px;
      left: -108px; }
    .contacts__title::after {
      top: -5px;
      left: -100px; }
  .contacts__info {
    margin-bottom: 40px;
    display: block; }
  .contacts__info p {
    width: 100%; }
  .contacts__map {
    position: absolute;
    width: 525px;
    top: 99px;
    right: 52px;
    z-index: 2; }
  .contacts__image {
    top: 99px;
    right: 2px;
    margin-right: 50px;
    width: 525px; }
  .contacts__button {
    width: 20%;
    margin: 79px auto 0 225px; }
  .contacts__email:hover,
  .contacts__email:focus {
    color: #63d1bb; }
  .contacts__email:active {
    opacity: 0.3; } }

.catalog__container {
  margin-top: 30px; }

@media (min-width: 768px) {
  .catalog__container {
    margin-top: 65px; } }

@media (min-width: 1150px) {
  .catalog__container {
    margin-top: 112px; } }

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.catalog-list__item {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .catalog-list__item {
    margin-bottom: 53px; } }

@media (min-width: 1150px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap; }
  .catalog-list__item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 51px;
    margin-bottom: 57px;
    width: 315px; }
  .catalog-list__item:nth-child(3n) {
    margin-right: 0; } }

.catalog-item__info {
  padding: 25px 27px 27px;
  border: 1px solid #ededed;
  background-color: white; }

.catalog-item__photo {
  display: block;
  width: 260px;
  height: auto; }

.catalog-item__content {
  padding-bottom: 20px; }

.catalog-item__name {
  margin: 0 0 5px; }

.catalog-item__price {
  font-size: 16px; }

.catalog-item__link {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000; }
  .catalog-item__link:focus {
    opacity: 0.6; }
  .catalog-item__link:active {
    opacity: 0.3; }

.catalog-item__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0; }

.catalog-item__buy {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-left: 25px;
  padding-top: 22px;
  fill: #cccccc; }

.catalog-item__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #ededed; }

.catalog-item__buy:active {
  fill: #63d1bb;
  fill-opacity: 0.3; }

.catalog-item__buy:focus {
  fill: #63d1bb; }

.catalog-item:focus .catalog-item__info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; }
  .catalog-item__photo {
    width: 334px;
    height: 335px; }
  .catalog-item__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 50%; }
  .catalog-item__description {
    font-size: 15px; }
  .catalog-item__price {
    font-size: 17px; }
  .catalog-item__link {
    font-size: 20px; }
  .catalog-item__buy {
    width: 50px; } }

@media (min-width: 1150px) {
  .catalog-item {
    flex-direction: column;
    justify-content: space-between;
    width: 315px; }
  .catalog-item__photo {
    width: 315px;
    height: 460px; }
  .catalog-item__content {
    padding-bottom: 16px; }
  .catalog-item__info {
    max-width: 100%; }
  .catalog-item__name {
    margin-bottom: 5px; }
  .catalog-item__buy:hover {
    fill: #63d1bb; }
  .catalog-item__link:hover {
    opacity: 0.6; }
  .catalog-item:hover .catalog-item__info {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); } }

.production-video__container {
  margin-bottom: 56px;
  border: 1px solid #ededed; }

.production-video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  margin: 24px 0 26px 33px;
  padding-left: 57px;
  position: relative; }
  .production-video__title::before {
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.production-video__icon {
  fill: #63d1bb; }

.production-video__info {
  padding: 20px 33px 32px; }

.production-video__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0; }

.production-video__button {
  width: 100%;
  margin-top: 25px; }

.production-video__wrapper {
  border: 1px solid #ededed; }

.production-video__wrapper:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.production-video__player {
  position: relative; }
  .production-video__player::before {
    content: "";
    width: 101px;
    height: 77px;
    position: absolute;
    top: 34px;
    left: 79px;
    cursor: pointer;
    background-image: url("../img/icon-play.svg");
    background-size: cover; }

@media (min-width: 768px) {
  .production-video__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    margin-bottom: 63px; }
  .production-video__title {
    font-size: 20px;
    margin-top: 39px;
    margin-left: 47px;
    margin-bottom: 6px; }
    .production-video__title::before {
      top: -4px;
      left: -6px; }
  .production-video__description {
    font-size: 15px;
    line-height: 30px; }
  .production-video__player {
    width: 100%;
    height: 452px;
    order: -1;
    border-top: none; }
    .production-video__player::before {
      top: 187px;
      left: 283px; }
  .production-video__player img {
    width: 668px;
    height: 452px; }
  .production-video__button {
    width: 100%;
    margin-top: 36px; }
  .production-video__info {
    padding-top: 27px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 44px; } }

@media (min-width: 1150px) {
  .production-video__wrapper {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-bottom: 0;
    border: 1px solid #ededed;
    margin-bottom: 104px; }
  .production-video__player {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0; }
    .production-video__player::before {
      top: 187px;
      left: 290px; }
  .production-video__player:hover::before {
    transform: scale(1.2); }
  .production-video__player:active::before {
    transform: scale(0.8);
    opacity: 0.3; }
  .production-video__player img {
    width: 682px; }
  .production-video__title {
    width: 31.5%;
    padding: 50px 56px 0 42px;
    margin: 42px 0 12px; }
    .production-video__title::before {
      top: -4px;
      left: 42px; }
  .production-video__info {
    width: 31.5%;
    padding-top: 24px;
    padding-bottom: 8px;
    padding-right: 56px; }
  .production-video__button {
    margin-top: 46px;
    margin-bottom: 50px; }
  .production-video__description {
    font-size: 15px;
    line-height: 30px; }
  .production-video__wrapper:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); } }

.page-footer__container {
  padding-top: 18px; }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

.page-footer__link[href]:focus .page-footer__logo {
  fill: #63d1bb; }

.page-footer__link[href]:active .page-footer__logo {
  fill-opacity: 0.3; }

@media (min-width: 768px) {
  .page-footer {
    margin-top: 0; }
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px; }
  .page-footer__logo {
    display: block;
    margin-right: 80px;
    margin-bottom: 10px; } }

@media (min-width: 1150px) {
  .page-footer__link[href]:hover .page-footer__logo {
    fill: #63d1bb; } }

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0;
  padding: 22px 0;
  border-top: 1px solid #e5e5e5; }

.copyright__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center; }

.copyright__logo {
  margin-left: 28px;
  display: inline-block;
  fill: #63d1bb; }

.copyright__link:focus {
  fill: #56c3b2; }

.copyright__link:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin: 0;
    border: none; } }

@media (min-width: 1150px) {
  .copyright__link:hover {
    fill: #56c3b2; } }

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.socials__item {
  width: 62px;
  height: 46px; }

.socials__link {
  display: block;
  padding: 12px 20px;
  fill: #231f20; }
  .socials__link--fb {
    padding: 7px 21px; }
  .socials__link--tw {
    padding: 12px 13px; }

@media (min-width: 1150px) {
  .socials__link:hover svg,
  .socials__link:focus svg {
    fill: #63d1bb; }
  .socials__link:active svg {
    opacity: 0.3; } }

.page-description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px;
  margin: 22px 0 9px; }

@media (min-width: 768px) {
  .page-description {
    font-size: 17px;
    line-height: 30px;
    margin: 58px 0 8px;
    width: 95%;
    padding: 0 50px; } }

@media (min-width: 1150px) {
  .page-description {
    margin: 104px auto 10px;
    width: 800px; } }

.order-form {
  margin-bottom: 55px; }

.order-form__container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px; }
  @media (min-width: 768px) {
    .order-form__container {
      padding: 0 50px; } }

.order-form__fieldset {
  border: none;
  margin: 0;
  margin-bottom: -1px;
  padding: 0; }

.order-form__fieldset:first-child {
  margin-bottom: 14px; }

.order-form__legend {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 22px;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .order-form__legend--phone, .order-form__legend--email {
    margin-bottom: 10px; }

.order-form__legend::after {
  content: "";
  height: 1px;
  width: 50px;
  flex-grow: 1;
  margin-left: 20px;
  background-color: #63d1bb; }

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-left: 62px;
  padding-bottom: 15px;
  padding-top: 10px;
  display: flex;
  cursor: pointer; }
  .order-form__label--text {
    padding-left: 0;
    padding-bottom: 2px;
    padding-top: 4px; }

.order-form__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: ""; }

.order-form__label--circle::before {
  border-radius: 50%;
  border: 3px solid #444444; }

.order-form__label--square::before {
  border: 3px solid #444444;
  padding-bottom: 20px; }

.order-form__label:hover::before,
.order-form__label:focus::before,
.order-form__radio:checked + .order-form__label::before {
  border-color: #63d1bb; }

.order-form__label--circle::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  content: "";
  background-color: #63d1bb;
  border-radius: 50%;
  display: none; }

.order-form__radio:checked + .order-form__label--circle::after,
.order-form__check:checked + .order-form__label--square::after {
  display: block; }

.order-form__check:focus + label::before,
.order-form__check:focus + label::after {
  border-color: #63d1bb; }

.order-form__radio:focus + label::before,
.order-form__radio:focus + label::after {
  border-color: #63d1bb;
  transform: scale(1.1); }

.order-form__check:active + label::before {
  border-color: #cccccc; }

.order-form__label--square::after {
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 10px;
  content: "";
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  transform: rotate(-45deg);
  display: none; }

.order-form__label--square {
  padding-bottom: 33px; }

.order-form__input {
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 19px;
  padding: 14px 40px 14px 0; }
  .order-form__input::placeholder {
    opacity: 0.3; }
  .order-form__input::-ms-clear {
    display: none; }

.order-form__wrapper {
  position: relative; }

.order-form__textarea {
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 100%;
  height: 142px;
  border: 2px solid #000000;
  padding: 15px;
  margin-bottom: 7px; }
  .order-form__textarea::placeholder {
    opacity: 0.3; }

.order-form__footer {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #000000; }

.order-form__button {
  margin: 31px 0;
  width: 100%; }

.order-form__icon {
  position: absolute;
  width: 32px;
  height: 30px;
  top: 5px;
  right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2; }

@media (min-width: 768px) {
  .order-form {
    margin-bottom: 45px; }
  .order-form__container {
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex; }
    .order-form__container--phone {
      padding-bottom: 0; }
    .order-form__container--email {
      padding-bottom: 29px;
      padding-top: 0; }
    .order-form__container--personal {
      padding-bottom: 33px; }
  .order-form__fieldset:first-child {
    margin-bottom: 3px; }
  .order-form__fieldset--grey {
    background-color: #f1f1f1; }
  .order-form__fieldset {
    margin: 0; }
  .order-form__legend::after {
    display: none; }
  .order-form__legend {
    width: 33%;
    align-items: flex-start;
    margin-top: 17px;
    margin-bottom: 0; }
  .order-form__label {
    font-size: 19px;
    line-height: 18px;
    padding-left: 82px;
    padding-bottom: 42px;
    padding-top: 16px;
    padding-right: 20px; }
    .order-form__label::before {
      width: 53px;
      height: 53px; }
    .order-form__label--text {
      margin-right: 25px;
      margin-bottom: 10px;
      padding-left: 0;
      padding-top: 19px;
      padding-bottom: 0;
      padding-right: 0; }
  .order-form__input {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 2px 15px 15px;
    font-size: 19px;
    line-height: 18px; }
  .order-form__input[type="tel"],
  .order-form__input[type="email"] {
    background-color: #f1f1f1; }
  .order-form__input--text {
    width: 100%;
    flex-grow: 1;
    padding: 0 19px 6px; }
  .order-form__label-wrapper {
    width: 100%;
    display: flex; }
  .order-form__icon {
    top: 13px;
    right: 24px; }
  .order-form__wrapper::before {
    top: 14px;
    right: 23px; }
  .order-form__label--square {
    padding-left: 81px;
    width: 48%; }
  .order-form__textarea {
    font-size: 19px;
    margin-bottom: 12px; }
  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .order-form__footer small {
    font-size: 17px;
    line-height: 30px; }
  .order-form__button {
    width: 230px;
    order: -1;
    margin-top: 17px;
    margin-bottom: 7px;
    margin-right: auto; }
  .order-form__label--circle::after {
    top: 16px;
    left: 16px;
    width: 21px;
    height: 21px; }
  .order-form__label--square::after {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 15px; } }

@media (min-width: 1150px) {
  .order-form {
    margin-bottom: 42px; }
  .order-form__container {
    padding-right: 225px; }
  .order-form__wrapper {
    justify-content: flex-start;
    width: 80%; }
  .order-form__legend {
    width: 20%;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: auto; }
  .order-form__label {
    padding-left: 80px; }
    .order-form__label--circle {
      width: 70%; }
    .order-form__label--square {
      width: 25%;
      margin-right: 87px; }
    .order-form__label--square:nth-child(3n) {
      margin-right: 0; }
  .order-form__label--text {
    padding-left: 0; }
  .order-form__input--text {
    width: 550px; }
  .order-form__input[type="tel"],
  .order-form__input[type="email"] {
    width: 700px; }
  .order-form__button {
    margin-left: 175px;
    margin-top: 13px; }
  .order-form__footer small {
    margin-right: 175px;
    font-size: 16px; }
  .order-form__textarea {
    width: 80%; }
  .order-form__wrapper::before {
    right: 5px; }
  .order-form__input:hover,
  .order-form__input:focus {
    border-bottom-color: #63d1bb;
    outline: none; }
  .order-form__input[type="tel"]:hover ~ .order-form__icon,
  .order-form__input[type="email"]:hover ~ .order-form__icon,
  .order-form__input[type="tel"]:focus ~ .order-form__icon,
  .order-form__input[type="email"]:focus ~ .order-form__icon {
    fill: #63d1bb;
    opacity: 1; }
  .order-form__textarea:hover,
  .order-form__textarea:focus {
    border-color: #63d1bb;
    outline: none; }
  .order-form__icon {
    top: 15px;
    right: 3px; } }
