.button {
  @include font-set($font-size, 20px, bold);
  display: block;
  margin: 10px 0;
  padding: 15px;
  border: 2px solid $dark-grey;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
