.catalog-item__info {
  padding: 25px 27px 27px;
  border: 1px solid $border-color;
  background-color: white;
}

.catalog-item__photo {
  display: block;
  width: 260px;
  height: auto;
}

.catalog-item__content {
  padding-bottom: 20px;
}

.catalog-item__name {
  margin: 0 0 5px;
}

.catalog-item__price {
  font-size: 16px;
}

.catalog-item__link {
  @include font-set($font-size, 20px, bold, $black);

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__description {
  @include font-set(13px, 30px);
  margin: 0;
}

.catalog-item__buy {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-left: 25px;
  padding-top: 22px;
  fill: #cccccc;
}

.catalog-item__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  border-top: $border;
}

.catalog-item__buy:active {
  fill: $primary-color;
  fill-opacity: 0.3;
}

.catalog-item__buy:focus {
  fill: $primary-color;
}

.catalog-item:focus .catalog-item__info {
  @include shadow;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .catalog-item__photo {
    width: 334px;
    height: 335px;
  }

  .catalog-item__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 50%;
  }

  .catalog-item__description {
    font-size: 15px;
  }

  .catalog-item__price {
    font-size: 17px;
  }

  .catalog-item__link {
    font-size: 20px;
  }

  .catalog-item__buy {
    width: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    justify-content: space-between;
    width: 315px;
  }

  .catalog-item__photo {
    width: 315px;
    height: 460px;
  }

  .catalog-item__content {
    padding-bottom: 16px;
  }

  .catalog-item__info {
    max-width: 100%;
  }

  .catalog-item__name {
    margin-bottom: 5px;
  }

  .catalog-item__buy:hover {
    fill: $primary-color;
  }

  .catalog-item__link {
    &:hover {
      opacity: 0.6;
    }
  }

  .catalog-item:hover .catalog-item__info {
    @include shadow;
  }
}
