.categories-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.categories-list__item {
  position: relative;

  &--left {
    background-color: $primary-color;
  }

  &--right {
    background-color: $secondary-color;
  }
}

.categories-list__icon {
  position: absolute;
  top: 25%;
  right: 30px;
}

.categories-list__icon g {
  opacity: 0.5;
}

.categories-list__link {
  @include font-set(19px, 24px, bold, $white);
  display: block;
  padding: 30px 30px 40px;
}

@media (min-width: $tablet-width) {
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -118px;
    padding: 0 50px;
  }

  .categories-list__item {
    min-width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .categories-list__item {
    min-width: 50%;
  }
}
