.contacts {
  padding: 20px 0;
}

.contacts__title {
  @include font-set(18px, 30px, bold, $black);
  margin: 0;
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
}

.contacts__email {
  color: $dark-grey;
  text-decoration: underline $primary-color;
}
