.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0;
  padding: 22px 0;
  border-top: 1px solid #e5e5e5;
}

.copyright__link {
  @include font-set(19px, 24px, bold, $black);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.copyright__logo {
  margin-left: 28px;
  display: inline-block;
  fill: $primary-color;
}

.copyright__link:focus {
  fill: $secondary-color;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link:hover {
    fill: $secondary-color;
  }
}
