.features__container {
  padding-top: 10px;
  position: relative;
}

.features__title {
  @include big-title;
  margin: 30px 0;
}

.features__list {
  @include list-style;
}

.features__item {
  @include font-set($font-size, 20px, bold, $black);
  padding-top: 55px;
  padding-bottom: 28px;
  padding-left: 5px;
  margin-left: -5px;
  background-repeat: no-repeat;

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 33px;
    background-position: 12px 0;
  }

  &--money {
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px;
    background-position: 5px 2px;
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 34px;
    background-position: 12px 6px;
  }

  &--ball {
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 36px;
    background-position: 8px 3px;
  }

  &--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 57px;
    background-position: -2px 3px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 34px;
    background-position: 8px 2px;
  }
}

.features__container::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 5px;
  left: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 330px;
  background-position-x: center;
}

@media (min-width: $tablet-width) {
  .features__container {
    padding-top: 28px;
  }

  .features__container::before {
    height: 15px;
    top: 1px;
    left: 0;
    background-size: 768px;
    transform: rotate(180deg);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    @include font-set(43px, 50px, bold, $black);
    margin: 37px 0 47px -4px;
  }

  .features__item {
    @include font-set(20px, 22px, bold, $black);
    width: 338px;
    padding-bottom: 56px;
    padding-right: 20px;

    &--gift {
      order: 2;
    }

    &--heart {
      order: 1;
    }

    &--flower {
      order: -2;
    }

    &--ball {
      order: -1;
    }

    &--rocket {
      background-position: 0 3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__container::before {
    height: 25px;
    background-size: 1050px;
    background-repeat: no-repeat;
  }

  .features__container {
    padding: 47px 225px 30px;
  }

  .features__title {
    @include font-set(53px, 57px, bold, $black);
    margin-bottom: 48px;
  }

  .features__item {
    width: 355px;
  }
}
