.features__title {
  @include big-title;
}

.features__list {
  @include list-style;
}

.features__item {
  @include font-set($font-size, 20px, bold, $black);
  padding-top: 50px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 0% 0%;

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 30px;
  }

  &--money {
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px;
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 33px;
  }

  &--ball {
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 35px;
  }

  &--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 50px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 33px;
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    @include font-set(43px, 50px, bold, $black);
    margin: 41px 0 52px;
  }

  .features__item {
    @include font-set(20px, 21px, bold, $black);
    width: 334px;
    padding-bottom: 62px;
    padding-right: 20px;

    &--gift {
      order: 2;
    }

    &--heart {
      order: 1;
    }

    &--flower {
      order: -2;
    }

    &--ball {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__container {
    padding: 35px 222px;
  }

  .features__title {
    @include font-set(53px, 57px, bold, $black);
  }

  .features__item {
    width: 348px;
  }
}
