.feedback__container {
  margin-bottom: 40px;
}

.feedback__title {
  @include big-title;
  margin: 26px 0 25px;
}

.feedback__photo {
  display: none;
}

.feedback__item {
  margin: 0;
  padding: 0;
}

.feedback__text {
  @include font-set(15px, 30px);
  margin: 0 0 25px;
}

.feedback__author {
  font-style: normal;
}

.feedback__author-name {
  display: block;
  color: $black;
  margin-bottom: 6px;
}

.feedback__controls {
  margin: 34px 0 40px;
}

.feedback__controls-btn {
  position: relative;
  margin: 0;
  border: $border;
  background-color: white;
  width: 130px;
  height: 50px;
  cursor: pointer;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-top: 5px solid $black;
    position: absolute;
    top: 14px;
  }

  &::before {
    content: "";
    width: 48px;
    height: 5px;
    background-color: $black;
    position: absolute;
    top: 22px;
    left: 39px;
  }
}

.feedback__controls-btn:focus {
  &::before {
    background-color: #666666;
  }

  &::after {
    border-color: #666666;
  }
}

.feedback__controls-btn:active {
  &::before {
    background-color: #b2b2b2;
  }

  &::after {
    border-color: #b2b2b2;
  }
}

.feedback__controls-btn--next {
  margin-left: -5px;
}

.feedback__controls-btn--prev::after {
  border-left: 5px solid $black;
  transform: rotate(-45deg);
  left: 40px;
}

.feedback__controls-btn--next::after {
  border-right: 5px solid $black;
  transform: rotate(45deg);
  right: 42px;
}

@media (min-width: $tablet-width) {
  .feedback__container {
    margin-top: 28px;
    margin-bottom: 63px;
    padding-top: 79px;
    padding-bottom: 28px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedback__photo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .feedback__title {
    @include font-set(43px, 50px, bold, $black);
    margin: 0 0 30px -5px;
    order: -2;
  }

  .feedback__text {
    @include font-set(17px, 30px);
    margin-bottom: 58px;
    flex-basis: 100%;
  }

  .feedback__item {
    margin: 19px 0;
  }

  .feedback__author-name {
    display: block;
    font-size: 18px;
  }

  .feedback__button {
    width: 175px;
    order: -1;
    margin-left: auto;
    margin-bottom: auto;
  }

  .feedback__controls {
    position: absolute;
    bottom: 45px;
    right: 50px;
    margin: 0;
  }

  .feedback__controls-btn {
    border: none;
    width: 97px;
  }

  .feedback__controls-btn--next {
    &::before {
      left: 28px;
    }

    &::after {
      right: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback__container {
    margin-top: 4px;
    margin-bottom: 39px;
    padding-top: 70px;
    padding-left: 220px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-position: 50px 0;
    background-size: 30.5%;
  }

  .feedback__title {
    @include font-set(53px, 57px, bold, $black);
    margin-bottom: 32px;
    margin-left: 0;
  }

  .feedback__photo {
    left: 50px;
  }

  .feedback__wrapper {
    margin-left: 5px;
    margin-right: 75px;
  }

  .feedback__text {
    margin-bottom: 40px;
  }

  .feedback__controls {
    bottom: 120px;
  }

  .feedback__button {
    margin-top: 10px;
  }

  .feedback__author-name {
    display: block;
    font-size: 17px;
  }

  .feedback__controls-btn:hover {
    &::before {
      background-color: #666666;
    }

    &::after {
      border-color: #666666;
    }
  }
}
