.order-form {
  margin-bottom: 55px;
}

.order-form__container {
  @include wrapper;
}

.order-form__fieldset {
  border: none;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
}

.order-form__fieldset:first-child {
  margin-bottom: 14px;
}

.order-form__legend {
  @include font-set(17px, 18px, bold, $primary-color);
  text-transform: uppercase;
  margin-bottom: 22px;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--phone,
  &--email {
    margin-bottom: 10px;
  }
}

.order-form__legend::after {
  content: "";
  height: 1px;
  width: 50px;
  flex-grow: 1;
  margin-left: 20px;
  background-color: $primary-color;
}

.order-form__label {
  @include font-set(17px, 18px, bold);
  position: relative;
  padding-left: 62px;
  padding-bottom: 15px;
  padding-top: 10px;
  display: flex;
  cursor: pointer;

  &--text {
    padding-left: 0;
    padding-bottom: 2px;
    padding-top: 4px;
  }
}

.order-form__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: "";
}

.order-form__label--circle::before {
  border-radius: 50%;
  border: 3px solid $dark-grey;
}

.order-form__label--square::before {
  border: 3px solid $dark-grey;
  padding-bottom: 20px;
}

.order-form__label:hover::before,
.order-form__label:focus::before,
.order-form__radio:checked + .order-form__label::before {
  border-color: $primary-color;
}

.order-form__label--circle::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  content: "";
  background-color: $primary-color;
  border-radius: 50%;
  display: none;
}

.order-form__radio:checked + .order-form__label--circle::after,
.order-form__check:checked + .order-form__label--square::after {
  display: block;
}

.order-form__check:focus + label::before,
.order-form__check:focus + label::after {
  border-color: $primary-color;
}

.order-form__radio:focus + label::before,
.order-form__radio:focus + label::after {
  border-color: $primary-color;
  transform: scale(1.1);
}

.order-form__check:active + label::before {
  border-color: #cccccc;
}

.order-form__label--square::after {
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 10px;
  content: "";
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  transform: rotate(-45deg);
  display: none;
}

.order-form__label--square {
  padding-bottom: 33px;
}

.order-form__input {
  @include font-set(17px, 18px);
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 2px solid $black;
  margin-bottom: 19px;
  padding: 14px 40px 14px 0;

  &::placeholder {
    opacity: 0.3;
  }

  &::-ms-clear {
    display: none;
  }
}

.order-form__wrapper {
  position: relative;
}

.order-form__textarea {
  @include font-set(17px, 18px);
  font-family: $font-primary;
  width: 100%;
  height: 142px;
  border: 2px solid $black;
  padding: 15px;
  margin-bottom: 7px;

  &::placeholder {
    opacity: 0.3;
  }
}

.order-form__footer {
  @include font-set(16px, 16px, normal, $black);
}

.order-form__button {
  margin: 31px 0;
  width: 100%;
}

.order-form__icon {
  position: absolute;
  width: 32px;
  height: 30px;
  top: 5px;
  right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-bottom: 45px;
  }

  .order-form__container {
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex;

    &--phone {
      padding-bottom: 0;
    }

    &--email {
      padding-bottom: 29px;
      padding-top: 0;
    }

    &--personal {
      padding-bottom: 33px;
    }
  }

  .order-form__fieldset:first-child {
    margin-bottom: 3px;
  }

  .order-form__fieldset--grey {
    background-color: $bg-color;
  }

  .order-form__fieldset {
    margin: 0;
  }

  .order-form__legend::after {
    display: none;
  }

  .order-form__legend {
    width: 33%;
    align-items: flex-start;
    margin-top: 17px;
    margin-bottom: 0;
  }

  .order-form__label {
    font-size: 19px;
    line-height: 18px;
    padding-left: 82px;
    padding-bottom: 42px;
    padding-top: 16px;
    padding-right: 20px;

    &::before {
      width: 53px;
      height: 53px;
    }

    &--text {
      margin-right: 25px;
      margin-bottom: 10px;
      padding-left: 0;
      padding-top: 19px;
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  .order-form__input {
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 2px 15px 15px;
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__input[type="tel"],
  .order-form__input[type="email"] {
    background-color: $bg-color;
  }

  .order-form__input--text {
    width: 100%;
    flex-grow: 1;
    padding: 0 19px 6px;
  }

  .order-form__label-wrapper {
    width: 100%;
    display: flex;
  }

  .order-form__icon {
    top: 13px;
    right: 24px;
  }

  .order-form__wrapper::before {
    top: 14px;
    right: 23px;
  }

  .order-form__label--square {
    padding-left: 81px;
    width: 48%;
  }

  .order-form__textarea {
    font-size: 19px;
    margin-bottom: 12px;
  }

  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .order-form__footer small {
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__button {
    width: 230px;
    order: -1;
    margin-top: 17px;
    margin-bottom: 7px;
    margin-right: auto;
  }

  .order-form__label--circle::after {
    top: 16px;
    left: 16px;
    width: 21px;
    height: 21px;
  }

  .order-form__label--square::after {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 15px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-bottom: 42px;
  }

  .order-form__container {
    padding-right: 225px;
  }

  .order-form__wrapper {
    justify-content: flex-start;
    width: 80%;
  }

  .order-form__legend {
    width: 20%;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: auto;
  }

  .order-form__label {
    padding-left: 80px;

    &--circle {
      width: 70%;
    }

    &--square {
      width: 25%;
      margin-right: 87px;
    }

    &--square:nth-child(3n) {
      margin-right: 0;
    }
  }

  .order-form__label--text {
    padding-left: 0;
  }

  .order-form__input--text {
    width: 550px;
  }

  .order-form__input[type="tel"],
  .order-form__input[type="email"] {
    width: 700px;
  }

  .order-form__button {
    margin-left: 175px;
    margin-top: 13px;
  }

  .order-form__footer small {
    margin-right: 175px;
    font-size: 16px;
  }

  .order-form__textarea {
    width: 80%;
  }

  .order-form__wrapper::before {
    right: 5px;
  }

  .order-form__input:hover,
  .order-form__input:focus {
    border-bottom-color: $primary-color;
    outline: none;
  }

  .order-form__input[type="tel"]:hover ~ .order-form__icon,
  .order-form__input[type="email"]:hover ~ .order-form__icon,
  .order-form__input[type="tel"]:focus ~ .order-form__icon,
  .order-form__input[type="email"]:focus ~ .order-form__icon {
    fill: $primary-color;
    opacity: 1;
  }

  .order-form__textarea:hover,
  .order-form__textarea:focus {
    border-color: $primary-color;
    outline: none;
  }

  .order-form__icon {
    top: 15px;
    right: 3px;
  }
}
