.page-description {
  @include font-set(13px, 24px);
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: $desktop-width;
  margin: 22px 0 9px;
}

@media (min-width: $tablet-width) {
  .page-description {
    font-size: 17px;
    line-height: 30px;
    margin: 58px 0 8px;
    width: 95%;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-description {
    margin: 104px auto 10px;
    width: 800px;
  }
}
