.page-footer__container {
  padding-top: 18px;
}

.page-footer {
  background-color: $bg-color;
}

.page-footer__logo {
  display: none;
}

.page-footer__link[href]:focus .page-footer__logo {
  fill: $primary-color;
}

.page-footer__link[href]:active .page-footer__logo {
  fill-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 0;
  }

  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 80px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__link[href]:hover .page-footer__logo {
    fill: $primary-color;
  }
}
