.production-video__container {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-top: $border;
  border-bottom: $border;
}

.production-video__title {
  @include font-set($font-size, 24px, bold, $black);
  margin: 25px 0;
}

.production-video__description {
  @include font-set(13px, 24px);
}

.production-video__button {
  width: 190px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production-video__container {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }

  .production-video__title {
    font-size: 20px;
  }

  .production-video__player {
    width: 100%;
    height: 455px;
    order: -1;
    border-top: none;
  }

  .production-video__player img {
    width: 668px;
    height: 455px;
  }

  .production-video__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production-video__container {
    display: block;
    position: relative;
    padding-bottom: 0;
    border-top: $border;
    border-bottom: $border;
    margin-bottom: 49px;
  }

  .production-video__player {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .production-video__title,
  .production-video__info {
    padding-left: 760px;
    padding-right: 57px;
  }

  .production-video__info {
    margin-bottom: 60px;
  }

  .production-video__title {
    margin-top: 94px;
    margin-bottom: 34px;
  }

  .production-video__button {
    margin-top: 46px;
    margin-bottom: 50px;
  }

  .production-video__description {
    font-size: 15px;
    line-height: 30px;
  }
}
