.production-video__container {
  margin-bottom: 56px;
  border: $border;
}

.production-video__title {
  @include font-set($font-size, 24px, bold, $black);
  margin: 41px 0 26px 33px;
  padding-left: 57px;
  position: relative;

  &::before {
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.production-video__icon {
  fill: $primary-color;
}

.production-video__info {
  padding: 22px 33px 32px;
}

.production-video__description {
  @include font-set(13px, 24px);
  margin: 0;
}

.production-video__button {
  width: 100%;
  margin-top: 25px;
}

.production-video__wrapper {
  border: $border;
}

.production-video__wrapper:focus {
  @include shadow;
}

.production-video__player {
  position: relative;

  &::before {
    content: "";
    width: 101px;
    height: 77px;
    position: absolute;
    top: 40px;
    left: 80px;
    cursor: pointer;
    background-image: url("../img/icon-play.svg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .production-video__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: $border;
    margin-bottom: 63px;
  }

  .production-video__title {
    font-size: 20px;
    margin-top: 33px;
    margin-left: 42px;
    margin-bottom: 6px;
  }

  .production-video__description {
    font-size: 15px;
    line-height: 30px;
  }

  .production-video__player {
    width: 100%;
    height: 455px;
    order: -1;
    border-top: none;

    &::before {
      top: 187px;
      left: 283px;
    }
  }

  .production-video__player img {
    width: 668px;
    height: 455px;
  }

  .production-video__button {
    width: 100%;
    margin-top: 36px;
  }

  .production-video__info {
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .production-video__wrapper {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-bottom: 0;
    border: $border;
    margin-bottom: 104px;
  }

  .production-video__player {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;

    &::before {
      top: 187px;
      left: 290px;
    }
  }

  .production-video__player:hover::before {
    transform: scale(1.2);
  }

  .production-video__player:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }

  .production-video__player img {
    width: 682px;
  }

  .production-video__title {
    width: 31.5%;
    padding: 50px 56px 0 42px;
    margin: 42px 0 12px;

    &::before {
      top: -4px;
      left: 42px;
    }
  }

  .production-video__info {
    width: 31.5%;
    padding-bottom: 10px;
    padding-right: 56px;
  }

  .production-video__button {
    margin-top: 46px;
    margin-bottom: 50px;
  }

  .production-video__description {
    font-size: 15px;
    line-height: 30px;
  }

  .production-video__wrapper:hover {
    @include shadow;
  }
}
