@mixin list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin big-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

@mixin font-set($size, $line-height, $weight:null, $color:$dark-grey) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

@mixin wrapper() {
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}
